body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 40px;
    text-align: center;

}
.container {
    max-width: 800px;
    margin: 0 auto;

}
input{
    width: 80%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #838282;
    border-radius: 5px;
}
button {
  padding: 12px 20px;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  background-color: #3ea6ff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0288d1;
}
button:active {
  background-color: #27aae3;
}
.image-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.image-grid img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.2s;
}

.image-grid img:hover {
  transform: scale(1.03);
}
